.App {
  overflow-x: hidden;
  text-align: center;
  height: 100vh;
  position: relative;
}

.background-wrapper {
  position: fixed;
  height: 150px;
  bottom: 0;
  z-index: -1;
  width: 110%;
  overflow: hidden;
}

.background-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 104%;
  height: 35vh;
  background: linear-gradient(180deg, rgba(10,8,140,0.028448879551820738) 0%, rgba(5,108,196,1) 0%, rgba(3,151,220,1) 78%, rgba(2,174,233,1) 84%, rgba(0,212,255,1) 94%);
  left: 0;
}

@media all and (max-width: 768px) {
  .background-wrapper {
    display: none;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hiddenContent {
  /*display: none;*/
  max-height: 0; /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  overflow: hidden;
}

.nav-tabs .nav-link.active {
  font-weight: 800;
}

.nav-link {
  color: black;
}

.table {
  margin-bottom: 0;
}

.table__row-full-width {
  border-bottom: 2px solid rgba(0,0,0,.125);
  /*position: relative;*/
  /*top: -1px;*/
}

.table__row-full-width:last-child {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.table__data-highlighted {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
  border-left: 1px solid rgba(0,0,0,.125);
}

.table__data_counter {
  vertical-align: inherit !important;
  border-right: 1px solid #dee2e6;
  border-bottom: 2px solid rgba(0,0,0,.125);
}

.table__data_counter:last-child {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.login__form {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.login__form .form-group {
  width: 35vw;
}

.salary-input {
  width:85px;
}

.edit-button-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.spinner-wrapper-full-height {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.employee-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -25px;
  background: rgb(247, 247, 247);
  /*box-shadow: 0 -3px 18px 0 rgba(0, 0, 0, 0.10);*/
  padding: 7px;
  border-radius: 50%;
}

.employee-name {
  font-size: 0.8em;
}

.card-header {
  background-color: rgb(247, 247, 247);
}

.card-header--upper {
  display: flex;
  justify-content: space-around;
}

.card-header--lower {
  display: flex;
  justify-content: space-around;
}

.card-header--lower b {
  /*display: flex;*/
  display: block;
  margin-bottom: 0;
  /*justify-content: space-around;*/
}

.card-header--lower .small {
  margin-bottom: 0;
}

.table {
  background-color: #ffffff;
}

.main-backgound-color {
  background: rgb(21, 111, 196);
  color: #ffffff;
}

.card-header .deleteIcon {
  position: absolute;
  right: 25px;
  top: 1px;
  cursor:pointer;
}